body {
    margin-left: 0px;
    display: grid;
    grid-template-columns: 1fr .7fr;
    position: relative;
}

footer,
header {
  grid-column: 1 / span 2;
}

main, aside {
  margin-top: 62px;
}

main {
  grid-column: 1 / span 1;
  margin: 2rem;
  padding-top: 2rem;
  color: var(--main-text-color);
}

aside {
  grid-column: 2 / span 1;
  padding-top: 2rem;
}

@media  only screen  and (max-width: 850px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content min-content;
  }

  header {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }

  aside {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    padding-top: 0;
  }

  main {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }

  footer {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
  }
}
  
h2.summary_title {
  font-size: calc(1.2rem + 1vw);
  font-weight: 600;
  color: #eee8e8;
  padding: 0 calc(1rem + 1vw);
  margin-bottom: 0;
}

.order_products {
  padding: calc(1rem + 1vw);
  padding-top: 0;
}

@media  only screen  and (max-width: 850px) {
  .order_products {
    padding: calc(2rem + 1vw);
  }
}

.order_products_item {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr .8fr;
  color:#eee8e8;
}

.order_products_item > .title {
  grid-column: 1 / span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(1rem + .5vw);
}

.order_products_item > .subtotal {
  grid-column: 2 / span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-size: calc(1rem + .5vw);
}

@media  only screen  and (max-width: 1050px) {
  .order_products_item > .title,
  .order_products_item > .subtotal {
    font-size: calc(.8rem + .5vw);
  }
}

@media  only screen  and (max-width: 850px) {
  .order_products_item > .title,
  .order_products_item > .subtotal {
    font-size: calc(1rem + .5vw);
  }
}

.order_products_item > .order_image {
  grid-column: 3 / span 1;
  padding: calc(1rem + 1vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

}

.order_products_item .big_image {
  max-width: 100%;
}

.image_wrapper {
  background-color: #ffffff;
  border-radius: 100%;
  box-shadow: 2px 4px  30px rgba(60, 219, 192, .5);
  max-width: 100%;
  width: 60%;
  padding-top: 60%;
  position: relative;
}


.big_image {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  width: calc(100% + 1px);
  height: calc(100% + 1px);
  border-radius: 100%;
  transform: rotate(-15deg);
}

.quantity {
  position: absolute;
  width: calc(var(--dynamic-width) / 3);
  height: calc(var(--dynamic-width) / 3);
  background-color: white;
  color: var(--main-text-color);
  font-size: calc(.7rem + 0.5vw);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  margin: calc(-1 *((var(--dynamic-width) / 3) / 2));
  box-shadow:  .5px 1.5px 10px 2px rgba(60, 219, 192, .5);
  transform: rotate(-40deg) translate(calc(var(--dynamic-width) / 2)) rotate(40deg);
}

.shipping_fee {
  display: flex;
  color: #eee8e8;
  justify-content: space-between;
  padding: calc(1rem + 1vw);
  padding-bottom: 0;
  padding-top: 0;
}

.shipping_fee p {
  font-size: calc(1rem + .5vw);
  margin-bottom: 0;
  margin-top: 0;
}

.order_total {
  display: flex;
  color: #eee8e8;
  justify-content: space-between;
  align-items: flex-start;
  padding: calc(1rem + 1vw);
  padding-top: 0;
  padding-bottom: 0;
}

.order_total p {
  font-size: calc(1.5rem + .5vw);
  font-weight: 500;
  margin-top: 0.5rem;
}

.button_back_to_cart {
  margin-bottom: 3rem;
  margin-left: 2rem;
}

  
input[type=text] {
  width: 80%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-family: "Poppins" ;
  height: auto;
}
  
label {
  margin-bottom: 10px;
  display: block;
}


 
h3 {
  font-family:  "Poppins", 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: Medium;
  font-size: 24px;
  padding-bottom: 10px;
}


.shopping-cart {
  width: 100%;
  height: auto;
  background: #333333;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

@media  only screen  and (max-width: 850px) {
  .shopping-cart {
    border-radius: 0;
  }
}


input#email_order {
  width: 95%;
  margin-bottom: 20px;
  padding: 12px;
  border: 2px solid #999999;
  border-radius: 3px;
  font-family: "Poppins" ;
  height: auto;
}

.seperatingline {
  width: 90%;
  height: 0.3px;
  background-color: #C9C9C9;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.seperatingline2 {
  width: 100%;
  height: 1px;
  background-color:black;
  margin-bottom: 1rem;
}

hr {
  display: inline-block;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  width: 30%;
}

@media  only screen  and (max-width: 950px) {
  hr {
    width: 20%;
  }
}

@media  only screen  and (max-width: 850px) {
  hr {
    width: 30%;
  }
}

.pay_alternate {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

a.button1{
  background-color: inherit;
  font-size: 16px;
  padding: 14px 28px;
  cursor: pointer;
  border:0.1em solid var(--main-text-color);
  display: inline-block;
  margin:  0 2rem;
}

a.button2{
  background-color: inherit;
  font-size: 16px;
  padding: 14px 28px;
  cursor: pointer;
  border:0.1em solid var(--main-text-color);
  display: inline-block;
  margin: 0 2rem;  
}

@media  only screen  and (max-width: 470px) {
  a.button1,
  a.button2 {
    padding: 0.5rem;
    margin: 0 1rem;
  }
}

.order_form input[type=text] {
  border: 2px solid #999999;
}

.order_form input[type=text]:invalid:not(:placeholder-shown) {
  border: 2px solid #cc0000;
}

.order_form input[type=text]:valid {
  border: 2px solid #2db1cc;
}

.order_form input[type=text]:focus {
  border: 2px solid #808080;
}



.buttons {
  margin: calc(2rem + 1vw) 0;
  display: flex;
  justify-content: flex-start;
}

.place_order {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
  color: var(--pantone);
  width: 200px;
  border: none;
  box-shadow: 0 0 5px 4px #3cdbc08a;
  border-radius: 11px;
  padding: 6px;
  background: #ffffff;
  cursor: pointer;
  color: #3cdbc0;
  margin-right: calc(2rem + 2vw);
}

.back_to_cart {
  text-decoration: none;
  position: relative;
  color: var(--pantone);
  font-size: calc(1rem + 0.6vw);
  font-weight: 500;
}

.back_to_cart::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0.18);
  height: 2.5px;
  bottom: -7px;
  left: 0;
  background-color: var(--pantone);
  transform-origin: bottom left;
  transition: transform 0.2s ease-out;
}

.back_to_cart:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.place_order:hover {
  box-shadow: 0 0 10px 5px #3cdbc08a;
}



  
  
/*text style*/
html {
  font-size: 100%;
}

a {
  text-decoration: none;
  color: black;
}
  


@media only screen  and (max-width: 800px) {
    
  .col-25 {
    margin-bottom: 20px;
    display: block;
  }

  hr{
    display: none;
  }

  .button_dark {
    margin-left: 50%;
  }
}




/* preloader */
.loader_wrapper {
  position: absolute;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .95);
  z-index: 15;
  display: none;
}

.loader {
  position: absolute;
  bottom: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid var(--pantone);
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid var(--pantone);
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid var(--pantone);
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}



/* form modal */
.modal_form {
  display: none; 
  position: fixed; 
  z-index: 15; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(255, 255, 255); 
  background-color: rgba(255, 255, 255, 0.95); 
}

.modal-content {
  background-color: #ffffff;
  margin: auto;
  padding: 20px;
  border: none;
  box-shadow: 0 0 14px 4px #3cdbc08a;
  border-radius: 10px;
  width: 40%;
}

.modal_form_heading {
  font-size: calc(1rem + 0.5vw);
}

.close_form {
  color: var(--main-text-color);
  float: right;
  font-size: 28px;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s;
}

.close_form:hover,
.close_form:focus {
  color: #3cdbc08a;
  text-decoration: none;
  cursor: pointer;
}

.modal_form_image {
  max-width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}