main {
    margin-top: 62px;
}


.intro {
    background-color: #333333;
    padding: calc(2rem + 3vw) 4rem;
    color: #eee8e8;
}

@media only screen  and (max-width: 700px) {
    .intro {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.heading_wrapper {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.heading_title {
    font-size: calc(2rem + 1vw);
    font-weight: 600;
    text-align: center;
}

.heading_text {
    font-size: calc(0.6rem + 0.5vw);
}




/* partners section */
.partners article {
    margin-top: calc(3rem + 3vw);
}

.partners_wrapper {
    margin: 2rem;
    margin-bottom: calc(3rem + 2vw);
}

@media only screen  and (max-width: 800px) {
    .partners_wrapper {
        margin: 1rem;
        margin-bottom: calc(3rem + 2vw);
    } 
}

@media only screen  and (max-width: 700px) {
    .partners_wrapper {
        margin: 1rem 0.5rem;
        margin-bottom: calc(3rem + 2vw);
    }
}

.partners_image {
    max-width: 100%;
    border-radius: calc(2rem + 3vw);
    box-shadow: 0px 10px 30px var(--pantone);
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text {
    color:#eee8e8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #333333;
}

.paragraph {
    font-size: calc(0.6rem + 0.5vw);
}

.subtitle {
    font-size: calc(1rem + 1vw);
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 0;
}

@media only screen  and (max-width: 850px) {
    .subtitle {
        margin-bottom: 0;
        margin-top: 0;
    }
}

@media only screen  and (max-width: 700px) {
    .subtitle {
        font-size: calc(1rem + .5vw);
    }
}

.right,
.left {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 0.2fr;
}

.right_text {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    margin-right: -30px;
    padding: 0 calc(2rem + 3vw) 0 calc(1rem + 1vw);
}


@media only screen  and (max-width: 850px) {
    .right_text {
        padding: 0 3rem 0 1rem;  
    }
}

@media only screen  and (max-width: 700px) {
    .right_text {
        padding: 0 2rem 0 1rem;  
    }
}


.right_image {
    grid-column: 2 / span 3;
    grid-row: 1 / span 3;
}

.left_text {
    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
    margin-left: -30px;
    padding: 0 calc(1rem + 1vw) 0 calc(2rem + 3vw); 
}

.left_image {
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;
}



@media only screen  and (max-width: 900px) {
    .left,
    .right {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.2fr 1fr 0.2fr;
    }

    .right_text {
        grid-column: 1 / span 2;
        grid-row: 2 / span 1; 
    }

    .right_image {
        grid-column: 3 / span 4;
        grid-row: 1 / span 3;
    }
    

    .left_text {
        grid-column: 5 / span 2;
        grid-row: 2 / span 1;
    }

    .left_image {
        grid-column: 1 / span 4;
        grid-row: 1 / span 3;
    }
}

@media only screen  and (max-width: 600px) {
    .left,
    .right {
        grid-template-columns: .2fr 1fr .2fr ;
        grid-template-rows: 1fr .6fr;
    }

    .right_text,
    .left_text {
        grid-column: 1 / span 3;
        grid-row: 2 / span 1;
        order: 2;
        margin-left: 0;
        margin-right: 0;
        padding: 0 calc(1rem + 0.5vw);
    }

    .right_image,
    .left_image {
        grid-column: 1 / span 3;
        grid-row: 1 / span 1;
        order: 1;
    }

    .partners_wrapper {
        margin: 0;
        margin-bottom: calc(3rem + 2vw);
    }

    .partners_image {
        max-width: 100%;
        border-radius: 0;
        box-shadow: none;
    }

    .paragraph {
        padding-bottom: calc(1rem + 1vw);
        max-width: 400px;
        font-size: calc(.8rem + 0.3vw);
    }

    .subtitle {
        font-size: calc(1.8rem + .5vw);
        margin-top: 1rem;
    }
}
